# cnc-ddraw shaders dir
/[Ss][Hh][Aa][Dd][Ee][Rr][Ss]/

# Piklib screenshot dir
[Ss][Cc][Rr][Ee][Ee][Nn][Ss][Hh][Oo][Tt][Ss]/

# Executables
*.[Dd][Ll][Ll]
*.[Ee][Xx][Ee]

# Configurations and logs
*.[Ii][Nn][Ii]
*.[Ll][Oo][Gg]
listing.json

# Graphics and audio in non-Piklib formats
*.png
*.xcf
*.mp4
*.mp3

# Anndrzem description files
*.mann
*.mimg
